<h1><%= @inquiry.name %> 様 から問い合わせがありました。</h1>
<p>件名&#58;<%= @inquiry.title %></p>
<p>お名前&#58;<%= @inquiry.name %></p>
<p>Email&#58;<%= @inquiry.email %></p>
<p>
  お問い合わせ内容<br>
  <%= @inquiry.description %>
</p>
